.gitsecret/keys/random_seed
!*.secret
helm/influxdb/values.yaml
helm/kiwix/values.yaml
helm/aria2/values.yaml
helm/calibre/values.yaml
helm/frp/values.yaml
helm/jellyfin/values.yaml
helm/jenkins/values.yaml
helm/qbittorrent/values.yaml
helm/youtube-dl/values.yaml
helm/yt-dlp-cron/values.yaml
helm/nginx/values.yaml
helm/tube-archivist/values.yaml
